<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="60 seconds">
    <contextName>xiaogenban-ssm</contextName>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--<Pattern>%d %p [%t] %c - %m%xEx%n</Pattern>-->
            <Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread]%logger{56}.%method:%L -%msg%n</Pattern>
        </layout>
    </appender>

    <appender name="logRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>D:/apache-tomcat-8.5.34/xiaogenban.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>idp.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>20MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread]%logger{56}.%method:%L -%msg%n</Pattern>
        </encoder>
    </appender>

    <!-- level: TRACE < DEBUG < INFO < WARN < ERROR < OFF -->

    <logger name="com.ssm" level="debug" additivity="false">
        <appender-ref ref="logRollingFile" />
        <appender-ref ref="stdout" />
    </logger>
    <logger name="org.apache" level="ERROR" additivity="false">
        <appender-ref ref="logRollingFile" />
        <appender-ref ref="stdout" />
    </logger>

    <logger name="ch.qos.logback" level="ERROR" additivity="false">
        <appender-ref ref="logRollingFile" />
        <appender-ref ref="stdout" />
    </logger>

    <logger name="freemarker" level="ERROR" additivity="false">
        <appender-ref ref="logRollingFile" />
        <appender-ref ref="stdout" />
    </logger>
    <logger name="com.opensymphony" level="ERROR" additivity="false">
        <appender-ref ref="logRollingFile" />
        <appender-ref ref="stdout" />
    </logger>
    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="logRollingFile" />
        <appender-ref ref="stdout" />
    </logger>
    <logger name="org.mybatis" level="ERROR" additivity="false">
        <appender-ref ref="logRollingFile" />
        <appender-ref ref="stdout" />
    </logger>
    <logger name="net.sf.ehcache" level="ERROR" additivity="false">
        <appender-ref ref="logRollingFile" />
        <appender-ref ref="stdout" />
    </logger>

    <logger name="com.ibatis" level="ERROR" additivity="false">
        <appender-ref ref="logRollingFile" />
        <appender-ref ref="stdout" />
    </logger>
    <logger name="java.sql.Connection" level="ERROR" additivity="false">
        <appender-ref ref="logRollingFile" />
        <appender-ref ref="stdout" />
    </logger>
    <logger name="java.sql.Statement" level="ERROR" additivity="false">
        <appender-ref ref="logRollingFile" />
        <appender-ref ref="stdout" />
    </logger>
    <logger name="java.sql.PreparedStatement" level="DEBUG" additivity="false">
        <appender-ref ref="logRollingFile" />
        <appender-ref ref="stdout" />
    </logger>
    <logger name="org.apache.shiro" level="ERROR" additivity="false">
        <appender-ref ref="logRollingFile" />
        <appender-ref ref="stdout" />
    </logger>
    <logger name="org.logicalcobwebs" level="ERROR" additivity="false">
        <appender-ref ref="logRollingFile" />
        <appender-ref ref="stdout" />
    </logger>

    <root level="debug">
        <appender-ref ref="stdout" />
        <appender-ref ref="logRollingFile" />
    </root>

</configuration>